<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Home", index_path(:email=>@student.email), :post => true %></li>
				<li><%= link_to "Help", '#' %></li>
			</ul>
		</nav>
		</div>
	</div>
</header>
