<h1>Listing commitments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commitments.each do |commitment| %>
  <tr>
    <td><%= link_to 'Show', commitment %></td>
    <td><%= link_to 'Edit', edit_commitment_path(commitment) %></td>
    <td><%= link_to 'Destroy', commitment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Commitment', new_commitment_path %>
