<h1>Listing meeting_notes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meeting_notes.each do |meeting_note| %>
  <tr>
    <td><%= link_to 'Show', meeting_note %></td>
    <td><%= link_to 'Edit', edit_meeting_note_path(meeting_note) %></td>
    <td><%= link_to 'Destroy', meeting_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting note', new_meeting_note_path %>
